/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

h1{
    text-align: center;
    color: white;
    font-family: 'roboto';
}

header{
    text-align: center;
    color: whitesmoke;
    width: 100%;
    background-color: black;
    background-attachment: fixed;
    font-size: 60px;
    font-weight: bold;
    font-family: "title", Times, serif;
}

div.rock{
    background-attachment: fixed;
    /*width: 100%;*/
    margin: 0;
    padding: 1px;
    text-align: justify;
    padding: 1%;
    margin: 5%;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
}

img.imgRock{
    width: auto; 
    height: 12px; 
}

h2.rockName{
    font-size: 1.2em;
    color: white;
    font-family: "roboto";
    text-align: center;
    height: 20px;
    overflow: hidden;
}

h3.rockDate{
    font-size: 1em;
    color: white;
    font-family: "roboto", Times, serif;
    text-align: center;
}

div.desc{
    font-size: 1em;
    color: white;
    font-family: "roboto", Times, serif;
    padding: 5%;
}

body{
    background-image:url(../img/back.jpg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding: 6px;
    border: solid 1px white;
    border-radius: 50px;
    display: inline-block;
    font-family: 'roboto';
    color: white;
}

input {
    margin-bottom: 1%;
    width: 60%;
    padding: 10px;
    font-family: 'roboto';
    font-size: 1.2em;
    color: white;
    border: solid 1px white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
}

button {
    width: 25%;
    padding: 10px;
    font-family: 'roboto';
    font-size: 1.2em;
    color: white;
    border: solid 1px white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
}

#search {
    text-align: center;
}

input:focus, button:focus {
    outline: none;
}

span{
    color: white;
    font-family: 'roboto';
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/RobotoThin.ttf');
}